/* Prinsipp: HvilkE tags har hvilkeN prop? */

/* Assuming all */

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

/* Font */

html {
  font-size: 16px;
}

button, input {
  font: inherit;
}

/* Color (prerequsite of color.css) */

button, input, select {
  background-color: inherit;
}

/* Cursor */

button, select {
  cursor: grab; 
}

button:active {
  cursor: grabbing;
}

/* Position, overflow */

p, form {
  display: inline;
}

h1, h2, h3, h4, h5, h6
p, em, b
{
  display: inline;
  overflow-wrap: break-word;
}

button {
  text-align: left;
}

input {
  max-width: 100%;
}