body {
  min-height: 1000px;
}

input::placeholder {
  font-style: italic;
}

select {
  padding-left: calc(1ch - 1px); /* when monospace */
}

div[contenteditable] {
  background-color: orange;
}

textarea {
  background-color: aqua;
}

blockquote {
  border-left: 1px solid black;
  padding-left: 1ch;
}