/* cursor, pointer-events, user-select */

* {
  user-select: none;
  -webkit-user-select: none;

  cursor: default;
}

input {
  user-select: text;
  -webkit-user-select: text;

  cursor: grab;
}

button:active,
input:active {
  cursor: grabbing;
}